.vscode
*.kdev4

# Build & Install dirs
*build/
*install/
*lib/
CMake*
*Makefile
cmake_install.cmake

# Examples
examples/cpu/cpu_timers
examples/cuda/cuda_example
examples/mpi/Makefile
examples/mpi/mpi_example
examples/mpi/mpi_shuffle_example
examples/mpi/mpi_mympicomm_example
examples/mpi/mpi_vcollauxbuff_example
examples/filelogger/output
examples/filelogger/filelogger_example
